* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-self: flex-start;
    height: 700px;
}

div div {
    background-color: rgb(224, 231, 150);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgb(13, 14, 14);
    margin-right: 20px;
    text-align: center;
    padding-top: 10px;
    height: 400px;
    width: 100px;
}

div div:first-child {
align-self: flex-end;
}

div div:nth-child(5) {
    align-self: flex-end;
    background-color: blue;
}

div div:nth-child(3) {
    align-self: center;
    background-color: rgb(17, 145, 8);
}

div div:last-child {
    background-color: red;
}
