* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    padding: 10px;
    align-self: center;
}

div div {
    background-color: rgb(63, 14, 241);
    width: calc(100%/4); 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: aliceblue;
    padding-top: 10px;
    margin-right: 20px;
    text-align: center;
    height: 300px;
}

div div:first-child {
    order: 3;
}

div div:nth-child(3) {
    order: 4;
}


