* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    padding: 10px;
    flex-basis: 900px;
    flex-flow: wrap;
}

div div {
    background-color: rgb(249, 187, 126);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(13, 14, 14);
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;    
    height: 150px;
    width: 250px;
}

div div:nth-child(3) {
    flex-grow: 5;
}

div div:nth-child(7) {
    flex-grow: 10;
}