* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    padding: 10px;
    flex-grow: 1;
    flex-direction: row-reverse;
    align-items: baseline;
}

div div {
    background-color: rgb(216, 150, 84);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: rgb(13, 14, 14);
    margin-right: 10px;
    margin-top: 20px;
    text-align: center;
    width: calc(100%/10);
    height: fit-content;
}

div div:nth-child(odd) {
    font-size: 12px;
}

div div:nth-child(5) {
    font-size: 8px;
}

div div:nth-child(3) {
    font-size: 22px;
}

div div:nth-child(8) {
    font-size: 42px;
}