@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Oswald:wght@400;500;700&family=Roboto:ital,wght@0,500;0,700;1,400&family=Teko:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Montserrat:wght@400;500;700&family=Oswald:wght@400;500;700&family=Roboto:ital,wght@0,500;0,700;1,400&family=Teko:wght@400;500;700&display=swap');

*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.benefits-flex {
    padding-top: 89px;
    padding-bottom: 87px;
    background: #FFF5E4;
}

.container-benefits {
    width: 1170px;
    margin: 0 auto;
}

.pfofessoin, .secur, .sustans, .quality1 {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-top: 39px;
    margin-bottom: 17px;
}

.professionals, .security, .sustainability, .quality {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);
    width: 270px;
    height: 94px;
}

.main-about-us {
    width: 1170px;
    margin: 0 auto;
}

.about-us, .main-contact {
    background-color: rgba(245, 164, 35, 0.2);
    mix-blend-mode: normal;
    border-radius: 3px;
    display: inline-block
}

span {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333333;
    display: inline-block;
    padding-left: 14px;
    padding-right: 14px;
}

.about-us {
    margin-top: 215px;
}

.video {
    margin-top: 173px;
    margin-bottom: 179px;
}

.button {
    margin-bottom: 387px;
    margin-left: 419; 
}

.story {
    width: 347px;
    height: 128px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    color: #333333;
    margin-top: 40px;
    margin-bottom: 25px;
}

.describe {
    width: 470px;
    height: 167px;
    margin-bottom: 25px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);
}

.author {
    width: 269px;
    height: 80px;
    margin-bottom: 168px;
}

.vicent {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 1px;
    margin-left: 20px;
}

.about-vincent {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);
    margin-top: 1px;
    margin-left: 20px;
}

.contact {
    width: 1170px;
    margin: 0 auto;
}

.main-contact {
    margin-top: 123px;
}

.write {
    height: 64px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    color: #333333;
    margin-bottom: 28px;
    margin-top: 39px;
}

.input-all {
    box-sizing: border-box;
    margin-top: 28px;
    margin-bottom: 210px;
    width: 370px;
}

.map {
    margin-top: 176px;
    margin-bottom: 176px;
}

#name, #e-mail {
    box-sizing: border-box;
    width: 370px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);
    padding-left: 16px;
    margin-bottom: 32px;
}

#message {
    box-sizing: border-box;
    width: 370px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);
    padding-left: 16px;
    margin-bottom: 32px;
}

#submit {
    box-sizing: border-box;
    width: 170px;
    height: 48px;
    background: #F5A623;
    border-radius: 3px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

#submit:hover {
    background-color: #f1f10c;
}

.icon-map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.footer {
    padding-top: 54px;
    padding-bottom: 37px;
    background: #333333;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.footer_nav__logo1:hover {
    text-decoration: underline cornsilk 2px;
}

.footer_nav__logo2:hover {
    text-decoration: underline cornsilk 1px;
}

.footer_nav__logo1 {
    margin-bottom: 34px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif; 
    font-style: bold;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    text-decoration-line: none;
}

.footer_nav__logo2 {
    margin-left: 600px;
    margin-bottom: 39px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer_nav__list {
    margin-bottom: 64px;
}

.footer_nav__list_item {
    margin-bottom: 16px;
}

.nav__list_item {
    margin-top: 16px;
    margin-bottom: 64px;
}

.tel {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    text-decoration: none;
}

.tel:hover {
    text-decoration: underline cornsilk 2px;
}

.mail {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    text-decoration: none;
}

.mail:hover {
    text-decoration: underline cornsilk 1px;
}

.social_network {
    margin-top: 39px;
    margin-bottom: 128px;
    margin-left: 561px;
}

.line {
    margin-top: 69px;
    margin-bottom: 42px;
    mix-blend-mode: normal;
    width: 1170px;
    height: 1px;
}

#copyright {
    margin-top: 42px;
    margin-bottom: 37px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.502972);
    text-decoration: none;
}

#copyright:hover {
    text-decoration: underline cornsilk 1px;
}