* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

div {
    text-align: center;
    width: 770px;
    height: 80px;
    left: 300px;
    top: 50px;   
}

div::before, div::after {
    content: url(./img/thumbnail.png)    
}