.child {
    background-color: rgb(167, 130, 203);
    width: 17%; 
    border: 1px rgb(31, 7, 191) solid;
    margin-right: 15px;
    margin-bottom: 15px;
    height: 80px;
    font-family: 'DM Sans', 'Arial', sans-serif;
    font-size: 20px
}

.child:first-child {
    background-color: red;
}

.child:nth-child(n+6) {
    background-color: blue;
}

.child:last-child {
    background-color: green;
    margin-left: 50px;
}


.child:nth-child(10),
.child:nth-child(17) {
    font-size: 34px;
}

.child:hover:nth-child(3n) {
    border: 3px green dashed
}