* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration-line: none;
}

.hover {
    position: absolute;
    width: 770px;
    height: 80px;
    left: 0px;
    top: 50px;   
}
.hover1 {
    position: absolute;
    width: 770px;
    height: 80px;
    left: 185px;
    top: 50px;   
}

.hover-optional {
    position: absolute;
    width: 770px;
    height: 80px;
    left: 0px;
    top: 100px;   
}

.background:hover {
   background-color: rgb(235, 231, 15);
}

.color:hover {
    color: crimson;
}

.border:hover {
    border-bottom: solid crimson;
}

.font-size:hover {
    font-size: x-large
}

.font-weight:hover { 
    font-weight: bolder;
}

.border-pseudo:hover::before {
    position:absolute;
    top: -10px;
    bottom: 50px;
    left:0;
    width:100%;
    content:"";
    border-top: 4px solid #e4071d;
    border-bottom: 4px solid #e4071d;
}
